<mat-form-field
  *ngIf="control"
  [id]="control.elementId"
  class="w-full {{ control.styleClasses }}"
  [appearance]="control.label ? 'outline' : 'fill'"
>
  <mat-label *ngIf="control.label">{{ control.label }}</mat-label>
  <input
    class="pl-2"
    matInput
    (blur)="onBlurAction()"
    (keydown.enter)="onEnterClick()"
    [inputMask]="settings?.mask"
    autocomplete="off"
    [type]="settings?.type || 'text'"
    [readonly]="control.readOnly"
    [required]="control.required"
    [placeholder]="control.placeholder"
    [formControl]="control"
  />
  <mat-hint>
    {{ control.tooltip }}
  </mat-hint>
  <button
    *ngIf="settings?.icon"
    mat-icon-button
    matSuffix
    (click)="iconClick($event)"
  >
    <mat-icon>
      {{ settings.icon }}
    </mat-icon>
  </button>
  <mat-error>
    {{ control.errors | errorMessage: control.errorMessages }}
  </mat-error>
</mat-form-field>
