<mat-form-field
  *ngIf="control"
  [id]="control.elementId"
  class="w-full {{ control.styleClasses }}"
  [appearance]="control.label ? 'outline' : 'fill'"
>
  <mat-label *ngIf="control.label">
    {{ control.label }}
  </mat-label>
  <mat-select
    [formControl]="control"
    [required]="control.required"
    (selectionChange)="optionSelected($event.value)"
    [placeholder]="control.placeholder"
  >
    <mat-option *ngIf="!control.required" [value]="null">
      {{ control.placeholder || control.settings.notSelectedText }}
    </mat-option>
    <mat-option
      *ngFor="let item of control.settings.source | async"
      [value]="item[control.settings.fieldId]"
    >
      {{ item | textByFunction: control.settings.fieldName }}
    </mat-option>
  </mat-select>
  <button
    *ngIf="settings.icon"
    mat-icon-button
    matSuffix
    (click)="iconClick($event)"
  >
    <mat-icon>
      {{ settings.icon }}
    </mat-icon>
  </button>
  <mat-icon *ngIf="control.icon" matPrefix>{{ control.icon }}</mat-icon>
  <mat-hint *ngIf="control.tooltip">{{ control.tooltip }}</mat-hint>
  <mat-error>
    {{ control.errors | errorMessage: control.errorMessages }}
  </mat-error>
</mat-form-field>
