<ng-container *ngIf="control && !control.hidden">
  <mat-form-field
    class="w-full {{ control.styleClasses }}"
    [appearance]="control.label ? 'outline' : 'fill'"
  >
    <mat-label
      [ngClass]="{ 'is-link': control.label }"
      class="control-label"
      *ngIf="control.label"
    >
      {{ control.label }}
    </mat-label>
    <input
      type="text"
      autocomplete="off"
      [required]="control.required"
      [readonly]="control.readOnly"
      [placeholder]="control.placeholder"
      matInput
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      class="autocomplete-options"
      #auto="matAutocomplete"
      [displayWith]="configValue"
      (optionSelected)="optionSelected($event)"
    >
      <mat-option
        *ngFor="let option of settings?.source | async"
        [value]="option"
      >
        <div class="flex items-center">
          <img
            *ngIf="settings.fieldImage"
            class="w-8 pr-2"
            alt=""
            [src]="option | textByFunction: settings.fieldImage"
          />
          <span>
            {{ option | textByFunction: settings.fieldName }}
          </span>
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-icon *ngIf="control.icon" matPrefix>{{ control.icon }}</mat-icon>
    <button
      *ngIf="settings.icon"
      mat-icon-button
      matSuffix
      (click)="iconClick($event)"
    >
      <mat-icon>
        {{ settings.icon }}
      </mat-icon>
    </button>
    <mat-hint>{{ control.tooltip }}</mat-hint>
    <mat-error>
      {{ control.errors | errorMessage: control.errorMessages }}
    </mat-error>
  </mat-form-field>
</ng-container>
