<div *ngIf="formControl" class="w-full">
  <ngx-editor-menu
    [toolbar]="toolbar"
    [editor]="editor"
  >
  </ngx-editor-menu>
  <ngx-editor
    [editor]="editor"
    [formControl]="formControl"
    [disabled]="false"
    [placeholder]="formControl.placeholder"
  ></ngx-editor>
</div>
