@mixin dark-theme-config($back-color, $dark-text) {
  .mat-mdc-autocomplete-panel,
  .mat-mdc-menu-content,
  .mat-mdc-select-panel,
  .mat-datepicker-content,
  .special_upload__dropzone,
  .mat-mdc-autocomplete-panel {
    background: $back-color;
  }

  .special_upload__dropzone {
    border-color: $dark-text;
  }
}
