<mat-form-field
  *ngIf="control"
  [id]="control.elementId"
  class="w-full {{ control.styleClasses }}"
  [appearance]="control.label ? 'outline' : 'fill'"
>
  <mat-label *ngIf="control.label">{{ control.label }}</mat-label>
  <input
    matInput
    autocomplete="off"
    [readonly]="control.readOnly"
    [matDatepicker]="picker"
    [required]="control.required"
    [placeholder]="control.placeholder"
    [formControl]="control"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="year" [startAt]="startAt">
  </mat-datepicker>
  <mat-hint>
    {{ control.tooltip }}
  </mat-hint>
  <mat-error>
    {{ control.errors | errorMessage: control.errorMessages }}
  </mat-error>
</mat-form-field>
