<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
  rel="stylesheet"
/>
<script>
  window.process = {
    env: {
      NODE_ENV: 'test',
    },
  };
</script>
<style>
  html,
  body {
    font-family: 'Roboto';
    margin: 0;
    box-sizing: border-box;
    padding: 12px;
  }
</style>
